{% extends 'admin/admin-header-footer.html' %}
{% block body %}

          {% if get_flashed_messages() %}
            {% for message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ message[0] }}" role="alert">
                    {{ message[1] }}
                </div>
            {% endfor %}
          {% endif %}
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">Confirm Password</h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row gx-5">
                            <div class="col-lg-12">
                                <section class="content-body p-xl-4">
                                    <form method="POST" action="/admin/dashboard-password">
                                        {{form.hidden_tag()}}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row gx-3">
                                                    <div class="col-lg-12 mb-3">
                                                        <label class="form-label">Password</label>
                                                        {{form.password()}}
                                                    </div>
                                                    <!-- col .// -->
                                                    <div class="col-lg-12 mb-3">
                                                        <label class="form-label">Confirm Password</label>
                                                       {{form.confirm_password()}}
                                                        {% for error in form.password.errors %}
                                                            <span style="color: red;">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <!-- col .// -->
                                                </div>
                                                <!-- row.// -->
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    </form>
                                </section>
                                <!-- content-body .// -->
                            </div>
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                    </div>
                    <!-- card body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
{% endblock %}