{% extends 'front/header-footer.html'%}


{% block body %}
{% if get_flashed_messages() %}
                                            {% for message in get_flashed_messages(with_categories=true) %}
                                                <div class="alert alert-{{ message[0] }}" role="alert">
                                                    {{ message[1] }}
                                                </div>
                                            {% endfor %}
                                          {% endif %}
    <main class="main pages">
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12 m-auto">
                        <div class="login_wrap widget-taber-content background-white">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <img class="border-radius-15" src="assets/imgs/page/forgot_password.svg" alt="" />
                                    <h2 class="mb-15 mt-15">Forgot your password?</h2>
                                    <p class="mb-30">Not to worry, we got you! Let’s get you a new password. Please enter your email address or your Username.</p>
                                </div>
                                <form method="POST" action="/auth/forgot-password">
                                    <div class="form-group">
                                        <input type="text" required="" name="forgotemail" placeholder="Email *" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="w-100 btn btn-heading btn-block hover-up" name="login">Reset password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock%}