{% extends 'front/header-footer.html'%}

{% block body %}
    <main class="main pages">
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-12 m-auto">
                        <div class="row">
                            <div class="heading_s1">
                                <img class="border-radius-15" src="assets/imgs/page/reset_password.svg" alt="" />
                                <h2 class="mb-15 mt-15">Set new password</h2>
                                <p class="mb-30">Please create a new password that you don’t use on any other site.</p>
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <form method="post" action="{{ url_for('auth_route.reset_password', auth_token=auth_token, forgot_token=forgot_token) }}">
                                            {{form.hidden_tag()}}
                                            <div class="form-group">
<!--                                                <input type="text" required="" name="email" placeholder="Password *" />-->
                                                {{form.password()}}
                                            </div>
                                            <div class="form-group">
<!--                                                <input type="text" required="" name="email" placeholder="Confirm you password *" />-->
                                                {{form.confirm_password()}}
                                                {% for error in form.password.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Reset password</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 pl-50">
                                <h6 class="mb-15">Password must:</h6>
                                <p>Be between 9 and 64 characters</p>
                                <p>Include at least tow of the following:</p>
                                <ol class="list-insider">
                                    <li>An uppercase character</li>
                                    <li>A lowercase character</li>
                                    <li>A number</li>
                                    <li>A special character</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
   {% endblock%}
